<div class="voteModal" *ngIf="selected.name">
  <span> Vota por {{ selected.name }} </span>
  <button mat-raised-button color="primary" (click)="vote()">
    <span *ngIf="!userID"> Iniciar sessión con Facebook </span>
    <span *ngIf="userID"> Votar </span>
  </button>
  <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
</div>

<mat-card class="candidatesCard">
  <div class="groupTitle">
    <span>Reina de Tena 👑️</span>
  </div>
  <div class="candidatesContainer">
    <div *ngFor="let candidate of candidates.reina">
      <div class="candidate">
        <div class="candidatePicture">
          <img src="/assets/candidates/{{ candidate.picture }}.jpeg" alt="" />
        </div>
        <div
          class="candidateButton"
          (click)="selectCandidate('reina', candidate)"
        >
          <span>
            {{ candidate.name }}
          </span>
          <button
            mat-raised-button
            color="accent"
            *ngIf="prevVote?.reina?.id == candidate.id"
          >
            Mi voto 😎️
          </button>
          <button
            mat-stroked-button
            color="accent"
            *ngIf="prevVote?.reina?.id != candidate.id"
          >
            Votar ❤️
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>

<mat-card class="candidatesCard">
  <div class="groupTitle">
    <span>Huaysa-Ishpingu Huarmi 👑️</span>
  </div>
  <div class="candidatesContainer">
    <div *ngFor="let candidate of candidates.guayusa">
      <div class="candidate">
        <div class="candidatePicture">
          <img src="/assets/candidates/{{ candidate.picture }}.jpeg" alt="" />
        </div>
        <div
          class="candidateButton"
          (click)="selectCandidate('guayusa', candidate)"
        >
          <span>
            {{ candidate.name }}
          </span>
          <button
            mat-raised-button
            color="accent"
            *ngIf="prevVote?.guayusa?.id == candidate.id"
          >
            Mi voto 😎️
          </button>
          <button
            mat-stroked-button
            color="accent"
            *ngIf="prevVote?.guayusa?.id != candidate.id"
          >
            Votar ❤️
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
